__pycache__/
models/*
!models/Llama_model.py
.vscode/
.venv/
unsloth_compiled_cache/
checkpoints/
NLPmetrics/Original.txt
NLPmetrics/OSA.txt
NLPmetrics/Few-shot.txt
NLPmetrics/Zero-shot.txt
NLPmetrics/Target.txt
NLPmetrics/temporal.py
BERTScore.csv

